@import '../../variables.css';

.update {
  width: 100%;
  background-color: var(--color-deepred);
  color: white;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update__text {
  margin: 0;
}

.footer {
  background-color: var(--color-darkblue);
  height: 100px;
  color: #fff;
}