@import '../../variables.css';

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey);
}

.Home__starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 30px 20px 30px;
  border-radius: 20px;
}

.Home__starter__heading {
  background-color: var(--color-darkblue);
  color: #fff;
  padding: 30px;
  width: 100%;
  margin: 0;
}

.Home-form {
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--color-darkblue);
  max-width: 550px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.Home-form__label {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 20px;
  align-self: flex-start;
  color: #fff;
  margin-top: 0;
}

.Home-form__input-container {
  width: 100%;
  border-radius: 5px;
  border: 0px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.Home-form__input {
  border: 0;
  font-size: 1em;
  width: 100%;
  padding: 10px;
}

.Home-form__submit {
  border: 0;
  background-color: var(--color-deepred);
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  font-size: 1em;
  margin-left: 10px;
  font-weight: 500;
}

.Home-form__submit:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.Home-data {
  max-width: 550px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-data__heading {
  margin-top: 0;
}